@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

/* custom font look web3 */
html {
  background: radial-gradient(circle at top, #1e1b4b, #020617);
}

body {
  min-height: 100vh;
  color: #e5e7eb;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
}
